<div class="container-fluid col-sm-8 col-md-7 col-lg-6 col-xl-5">
    <div class="row mt-4">
        <div class="col-md-12 ">
            <form *ngIf="todoForm" [formGroup]="todoForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" id="title" formControlName="title" class="form-control" placeholder="My new TODO">
                            <span *ngIf="!todoForm.get('title').valid && todoForm.get('title').touched" class="form-text text-muted">
                                This field is required!
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12 ">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea formControlName="text" class="form-control" rows="5" placeholder="Do something">
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end no-gutters">
                    <div class="col-xs-12 ">
                        <button type="submit" class="btn btn-outline-success mr-1" [disabled]="!todoForm.valid">
                            <i class="far fa-save"></i> Save
                        </button>
                        <button type="button" class="btn btn-outline-danger" (click)="onCancel()">
                            <i class="fas fa-times"></i> Cancel
                        </button>
                    </div>
                </div>
                <div class="row justify-content-end no-gutters">
                    <div class="col-xs-12 ">
                        <span *ngIf="!todoForm.valid && todoForm.touched" class="form-text text-muted">
                            Please enter a valid data!
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
