<div class="container-fluid col-sm-8 col-md-7 col-lg-6 col-xl-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <app-todo-item *ngFor="let todoEl of todos" [todo]="todoEl"></app-todo-item>
        </div>
    </div>
    <hr class="shadow">
    <div class="row justify-content-end mr-0 mb-4">
        <button type="button" (click)="onNewTodo()" class="btn btn-success rounded-circle shadow ">
            <i class="fas fa-plus fa-2x"></i>
        </button>
    </div>
</div>
