<div [ngClass]="!(todo.completedAt > 0) ? 'list-group-item list-group-item-info shadow mt-4' : 'list-group-item list-group-item-success shadow mt-4'">
    <h4 class="list-group-item-heading">{{ todo.title }}</h4>
    <p class="list-group-item-text">{{ todo.text }}</p>
    <h6 class="text-info text-right"><small>Created at {{ todo.createdAt | date: 'd. M. y' }}</small></h6>
    <h6 class="text-info text-right" *ngIf="(todo.completedAt > 0)">
        <small>Completed at {{ todo.completedAt | date: 'd. M. y' }}</small>
    </h6>
    <div class="row justify-content-end">
        <div class="col-xs-12 ">
            <button type="button" (click)="onEdit()" class="btn btn-outline-primary mr-2" *ngIf="!(todo.completedAt > 0)">
                <i class="far fa-edit"></i> Edit
            </button>
            <button type="button" (click)="onComplete()" class="btn btn-outline-success mr-2" *ngIf="!(todo.completedAt > 0)">
                <i class="far fa-check-square"></i> Complete
            </button>
            <button type="button" (click)="onDelete()" class="btn btn-outline-danger mr-2">
                <i class="far fa-trash-alt"></i> Delete
            </button>
        </div>
    </div>
</div>
