<div class="modal-header">
    <h4 class={{modalTitleClass}}>{{modalTitle}}</h4>
    <button type="button" class="close" (click)="activeModal.close('Cross click')">
        <i class="fas fa-times"></i>
    </button>
</div>
<div class="modal-body">
    <p><strong>{{modalMessage}}</strong></p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Cancel')">
        <i class="fas fa-times"></i> Cancel
    </button>
    <button type="button" (click)="activeModal.close('Confirmed')" class={{confirmButtonClass}}>
        <i class={{confirmButtonIcon}}></i> {{confirmButtonText}}
    </button>
</div>
